<mat-toolbar color="primary">
  <button mat-raised-button color="accent" (click)="createUser()">CREATE USER</button>  
  </mat-toolbar>

<mat-card>
  <mat-card-title>USERS</mat-card-title>           
</mat-card> 

<mat-list> 
    <mat-list-item *ngFor="let user of users; last as last; let i = index">      
        <h2 mat-line><a routerLink="../details" (click)='onAnchorClick(i)'>#{{i+1}}&nbsp;{{user.email}}</a></h2>              
        <button  mat-stroked-button color="accent" (click)="onDeleteUser(user.id, i)">DELETE USER</button>             
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-list-item>
    <mat-divider></mat-divider>            
</mat-list>
